@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;

  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f9;
}

#logo a {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

/* End of general css */

/* For screens with 375px and below */

@media (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: white;
  }

  .menu-items {
    display: none;
  }

  .headline_section {
    background-image: url("./images/header-shapes-mobile.svg");
    display: flex;
    padding: 20% 5%;
    gap: 12px;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 64px;
  }

  .primary_text {
    color: #172b4d;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .description {
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .CTA {
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .headline_section img {
    width: 170.167px;
    height: 20px;
  }

  .portfolio_link .fa {
    color: #505779;
    font-size: 24px;
  }
  .portfolio_link .fa:hover {
    color: #7f8cff;
  }
  .portfolio_link {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .my_projects {
    display: flex;
    flex-direction: column;
    gap: 88px;
    margin: 16px;
  }
  .project_card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: white;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .project_name {
    color: #172b4d;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
  .tags {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .circle {
    width: 8px;
    height: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
  }

  .project_description {
    color: #344563;
    font-size: 15px;
    font-weight: 400;
  }

  .project_labels {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .project_labels .pill {
    padding: 4px 12px;
    background-color: #ebebff;
    border-radius: 8px;
  }
  .project_button button {
    margin-top: 4px;
    padding: 12px;
    border: 1px solid #396df2;
    color: #396df2;
    background-color: transparent;
    border-radius: 8px;
  }
  .aboutme_section {
    display: flex;
    padding: 20% 5%;
    gap: 12px;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 64px;
  }
  .accordion {
    display: flex;
    flex-direction: column;
  }
  .skill_list {
    padding: 5%;
    background-color: white;
  }
  .accordion_header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
  .accordion_item {
    border-radius: 8px;
    background-color: #f7f7f9;
    display: flex;
    padding: 12px;
    margin: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-start;
  }
  .footer {
    background-image: url("./images/contact-form-shapes-mobile.svg");
    display: flex;
    padding: 20% 5%;
    gap: 12px;
    flex-direction: column;
    background-color: #6070ff;
    border-top-left-radius: 64px;
  }
  .footer_content {
    flex-direction: column;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .footer_content p {
    color: #ebebff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  .footer_content h3 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  form .input_form {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 12px;
  }
  form textarea {
    color: gray;
  }
  form button {
    margin-top: 4px;
    padding: 12px;
    border: 1px solid #396df2;
    color: #396df2;
    background-color: white;
    border-radius: 8px;
    max-width: 120px;
  }
}

/* For desktop screens with 768px and above */

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    background-color: white;
  }

  .menu-items {
    display: block;
  }
  .menu-items ul {
    display: flex;
    gap: 12px;
  }
  #burger {
    display: none;
  }

  .headline_section {
    background-image: url("./images/header-shapes-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 25%;
    gap: 32px;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 64px;
  }

  .primary_text {
    color: #172b4d;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .description {
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .CTA {
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .headline_section img {
    width: 170.167px;
    height: 20px;
  }

  .portfolio_link .fa {
    color: #505779;
    font-size: 24px;
  }
  .portfolio_link .fa:hover {
    color: #7f8cff;
  }
  .portfolio_link {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .my_projects {
    display: flex;
    flex-direction: column;
    gap: 88px;
    margin: 16px;
    padding: 5% 10%;
  }

  #reverse_card {
    display: flex;
    flex-direction: row-reverse !important;
  }
  .project_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 24px;
    background-color: white;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .project_card img {
    width: 544px;
    height: 448px;
  }

  .content_section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .info_section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 64px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding: 10%;
  }
  .project_name {
    color: #172b4d;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
  .tags {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .circle {
    width: 8px;
    height: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
  }

  .project_description {
    color: #344563;
    font-size: 15px;
    font-weight: 400;
  }

  .project_labels {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .project_labels .pill {
    padding: 4px 12px;
    background-color: #ebebff;
    border-radius: 8px;
  }
  .project_button button {
    margin-top: 4px;
    padding: 12px;
    border: 1px solid #396df2;
    color: #396df2;
    background-color: transparent;
    border-radius: 8px;
  }
  .aboutme_section {
    display: flex;
    flex: 1;
    gap: 12px;
    flex-direction: column;
  }
  .accordion {
    display: flex;
    flex-direction: column;
  }
  .skill_list {
    flex: 1;
    background-color: white;
  }
  .accordion_header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
  .accordion_item {
    border-radius: 8px;
    background-color: #f7f7f9;
    display: flex;
    padding: 12px;
    margin: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-start;
  }
  .footer {
    background-image: url("./images/contact-form-shapes-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    padding: 25%;
    gap: 12px;
    flex-direction: column;
    background-color: #6070ff;
    border-top-left-radius: 64px;
  }
  .footer_content {
    flex-direction: column;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .footer_content p {
    color: #ebebff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }
  .footer_content h3 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  form .input_form {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 12px;
  }
  form textarea {
    color: gray;
  }
  form button {
    margin-top: 4px;
    padding: 12px;
    border: 1px solid #396df2;
    color: #396df2;
    background-color: white;
    border-radius: 8px;
    max-width: 120px;
  }
}
